html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Weekly Activity Planner
    link(href="css/app.css", rel="stylesheet")
  body.planner(data-controller="planner")
    .weekly-planner
    script(type="text/javascript", src="build/app.min.js")
